

{% extends 'base.html.twig' %}

{% block title %}Logowanie - SUW{% endblock %}

{% block header %}
    <a href="{{ path('_logs') }}" id="logButton" class="primary-button">Logi</a>
    <a href="" id="settingsButton"><i class="fa fa-cog fa-3x" title="Ustawienia"></i></a>
    <a href="{{ path('_welcome') }}" id="logoutButton" class="primary-button">Wyloguj</a>
{% endblock %}

{% block Content%}
    <div class="columns">

        <table class="table is-hoverable is-striped">
            <thead>
            <tr>
                <th>Plik</th>
                <th>Logn</th>
                <th>Data</th>
                <th>Adres IP</th>
            </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>


        </table>


    </div>
{% endblock %}